body {
    background-image: url(https://www.pagani.com/app/uploads/2022/09/1440x810_high-1980x1114.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-one {
    text-align: center;
    margin-top: 7rem;
    color: aliceblue
}
